@media screen and (max-width: 1450px){


    .new img, .popular img {
        zoom: 80%;
    }

    .popular__catalog , .new__catalog {
        gap: 10px;
    }
    .popular__catalog-price , .new__catalog-price{
        font-size: 17px;
    }


    .popular__title , .new__title{
        font-size: 29px;
    }




}


@media screen and (max-width: 1000px){
    .new img, .popular img {
        zoom: 70%;
    }
}


@media screen and (max-width: 950px){

    .new img, .popular img {
        zoom: 70%;
    }

}
@media screen and (max-width: 900px){

    .popular__info-wrapper,.new__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new__catalog,  .popular__catalog {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 550px){

    .new,.popular {
        width: max-content;
        align-items: end;
    }

    .new__catalog,.popular__catalog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}







