



.new , .popular {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Clash Display";
    font-weight: 400;
    font-size: 20px;
}


.popular__catalog , .new__catalog {
    display: flex;
    justify-content:center;
    gap: 20px;
}
.popular__catalog-price , .new__catalog-price{
    font-size: 18px;
}



.popular__catalog-wrapper-link , .new__catalog-wrapper-link {
    display: block;
    overflow: hidden;
    max-height: 375px;
}
.popular__title , .new__title{
    font-size: 32px;
}


.popular__catalog-img , .new__catalog-img{
   transition: all 0.3s ease-in-out;

}

.popular__catalog-item:hover .popular__catalog-img , .new__catalog-item:hover .new__catalog-img{
   transform: scale(1.04);
}


.popular__catalog-price,.new__catalog-price {
    width: max-content;
}

.popular__catalog-item:hover .popular__catalog-price, .new__catalog-item:hover .new__catalog-price {
    border-bottom: 1px solid black;
}
.popular__title,.new__title {
    margin-bottom: 33px;
}
