
@media screen and (max-width: 1450px){

    .hero__title-wrapper {
        gap: 31px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__subtitle-wrapper {
        min-width: 550px;
        font-size: 16px;
    }

    .hero__description {
        margin-top: 50px;
        gap: 100px;
        max-width: 512px;

    }
}

@media screen and (max-width: 1400px){

    .hero__wrapper {
        gap: 20px;
    }

    .hero {
        max-width: 1100px;
    }

    .hero__title-wrapper {
        gap: 28px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__subtitle-wrapper {
        min-width: 480px;
        font-size: 15px;
    }

    .hero__description {
        padding-right: 90px;
        display: flex;
        margin-top: 50px;
        gap: 100px;
        max-width: 512px;

    }

}


@media screen and (max-width: 1230px){

    .hero__wrapper {
        gap: 0px;
        background: #2A254B;
    }


    .hero__title-wrapper {
        gap: 40px;
    }

    .hero {
        display: flex;
        justify-content: center;

    }

    .hero {
        padding-left:0px ;
    }

    .hero__title {
        font-size: 27px;
    }

    .hero__subtitle{
        max-width: 350px;
    }


    .hero {
        background: transparent;
    }

    .hero__subtitle-wrapper {
        min-width:400px;
        font-size: 15px;
    }

    .hero__description {
        padding-right: 10px;
        gap: 40px;
        display: flex;
        margin-top: 50px;
        max-width: 400px;
    }


}
@media screen and (max-width: 1000px){

    .hero__img {
        display: none;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__subtitle-wrapper {
        min-width:350px;
        font-size: 15px;
    }

    .hero__description {
        gap: 20px;
        max-width: 450px;
    }
    .hero__title-wrapper {
        align-items: start;
    }


}


@media screen and (max-width: 550px){

    .hero__wrapper {
        padding: 0px 0px;
    }

    .hero__title {
        font-size:25px;
    }


    .hero__title-wrapper {
        align-items: start;
        gap: 10px;
    }

    .hero__subtitle-wrapper {
        min-width:350px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero__description {
        padding: 0px 40px 0px 20px;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: left;
        gap: 40px;
        max-width: 350px;
    }


}










