.selected-product {
    margin-top: 40px;
    font-family: Satoshi;
    margin-bottom: 60px;
}

.selected-product__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.selected-product__img {
    zoom: 120%;
}

.selected-product__title {
    font-family: "Clash Display";
}

.selected-product__price {
    font-size: 20px;
}
.selected-product__main-info-wrapper *{
    margin: 0px;
}


.selected-product__btn-remove,.selected-product__btn-add {
    color: #2A254B;
    font-size: 20px;
}



.selected-product__logic-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
}

.selected-product__button {
    background: #2A254B;
    padding: 16px 32px;
    transition: all 0.3s ease-in-out;
}


.selected-product__button:hover {
    background: #321a7c;
    transform-origin: 50% 0;
    transform:  scale(1.048);
}

.selected-product__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.selected-product__description {
    max-width: 498px;
    font-size: 16px;
}