.header__nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo {
    color: #22202E;
    font-family:"Clash Display";
    font-size: 24px;
     font-weight: 400;
}

.header__list-item a{
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.header__list-item a:hover{
    color: #2A254B;
}

.header__list-item .active:hover{
    color: #2A254B;
}

.header__list-item .active{
    border-bottom: 1px solid #2A254B;
}

.header__list-wrapper {

}
.header__list {
    display: flex;
    justify-content: center;

    padding-right: 40px;
    padding-left: 40px;
    gap: 60px;
}