@media screen and (max-width: 1450px){
    .product__catalog-img {
        zoom: 70%;
    }

}
@media screen and (max-width: 1000px) {
    .product__catalog {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }


}
@media screen and (max-width: 550px) {
    .product__catalog-img {
        zoom: 50%;
    }
    .product__catalog {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}




