.new , .popular {
display: flex;justify-content: center;
}


.popular__catalog , .new__catalog{


    display: flex;
    gap:20px;

}


.popular__catalog-img , .new__catalog-img{
   transition: all 0.3s ease-in-out;

}

.popular__catalog-item:hover .popular__catalog-img , .new__catalog-item:hover .new__catalog-img{
   transform: scale(1.04);
}


.popular__catalog-price,.new__catalog-price {
    width: max-content;
}

.popular__catalog-item:hover .new__catalog-price, .new__catalog-item:hover  .new__catalog-price {
    border-bottom: 1px solid black;
}


.popular__title,.new__title {
    margin-bottom: 33px;
}
