.button-wrapper__view-collection {
   margin-top: 32px;
    color: #2A254B;
font-family: Satoshi;
font-size: 16px;
line-height: 150%;
padding: 16px 32px;
background: #e0dfdf;
transition: all 0.3s ease-in-out;
}


.button-wrapper {
    display: flex;
    justify-content: center;
}
.button-wrapper__view-collection:hover {
    backface-visibility: hidden;
    transform-origin: 50% 0;
    transform: scale(1.048);
    background-color: #d2d2d2

}