.button-wrapper__view-collection {
   margin-top: 32px;
    color: #2A254B;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
padding: 16px 32px;
background: #F9F9F9;
transition: all 0.3s ease-in-out;
}


.button-wrapper {
    display: flex;
    justify-content: center;
}
.button-wrapper__view-collection:hover {
    transform: scale(1.02);
    background-color: #d3d3d3
    
}